<div class="container-fluid main_page_container">
  <div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
      <h1><p class="text-center">
        Select your next TV Series to watch
      </p></h1>
    </div>
    <div class="col-sm-3">
    </div>
  </div>
</div>
